* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
    border-color: transparent transparent #21a497 transparent;
    border-spacing: 1px;
    background-color: #eee;
}

table caption {
    font-weight: bold;
    margin: 10px 0;
}

table thead th {
    background-color: #404040;
    color: white;
}

table tbody td {
    background-color: #ddd;

}


table thead th,
table tbody td {
    padding: 10px;
    margin: 1px;
}

table tbody tr img {
    width: 50px;
    height: 50px;
}

table tbody a {
    padding: 2px 7px;
    color: white;
    text-decoration: none;
}

table tbody td a:first-child {
    background-color: #03a9f4;
}

table tbody td a:last-child {
    background-color: #e91e63;
}