/* body {
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    margin: 20px auto;
}

.basic-parent {
    background-color: #eee;
    width: calc((100% - 10px) / 2);
    padding: 20px;
    position: relative;
}

.basic-parent .basic {
    background-color: #03a9f4;
    padding: 5px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: -5px;
}

.basic-parent .free {
    line-height: 8.6;
    background-color: #ddd;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 15px auto 0;
}

.or {
    float: left;
    position: absolute;
    left: 50%;
    top: 23%;
    width: 20px;
    height: 20px;
    background-color: #03a9f4;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* .parent {}

.basic-parent {
    background-color: #eee;
    width: calc((100% - 140px) / 2);
    height: 150px;
    padding: 20px;
    text-align: center;
    position: relative;
    float: left;
    overflow: hidden;
}

.clear {
    clear: both;
}


/* .or {
    width: 20px;
    height: 20px;
    background-color: #03a9f4;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 182px;
    top: 90px;

} */

.parent {
    width: 550px;
    margin: 100px auto;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    position: relative;
}

.parent>div {
    display: inline-block;
    margin-right: 20px;
}

.basic-parent {
    width: calc((100% - 210px) / 2);
    background-color: #eee;
    padding: 100px;
    height: 170px;
    padding: 30px;
}

.or {
    line-height: 0.9;
    width: 10px;
    height: 10px;
    background-color: #03a9f4;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    font-size: small;
    transform: translate(-50%, -50%);
}

.or::before {
    content: "";
    width: 1px;
    height: 230px;
    background-color: #03a9f4;
    position: absolute;
    z-index: -1;
    top: -104px;
    left: 10px;
}

.basic-parent .basic {
    background-color: #03a9f4;
    padding: 5px 0;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: -15px 0;
}

.basic-parent .free {
    line-height: 8.6;
    background-color: #ddd;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 25px auto 0px;
}