:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {
    color: var(--mainColor, red);
    padding: var(--mainPadding, 10px);
    border: 1px solid var(--mainColor, black);
    margin-bottom: 5px;
}