div {
    height: 400px;
    width: 400px;
    color: white;
    background-color: #eee;
    margin: 20px;
    padding: 10px;
    background-image: url('imgs/css-assignment-5-8.png');
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.assign-2-shape-1 {
    background-repeat: no-repeat;
}

.assign-2-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}

.assign-2-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 80%;
}

.assign-2-shape-4 {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}