div {
    background-color: #ddd;
    padding: 15px;
    margin: 20px auto;
    width: fit-content;
    position: relative;
}

div::before {
    content: "1";
    position: absolute;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    left: -9px;
    top: 5px;
}