div {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: #ddd;
    text-align: center;
    color: #ff5722;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    position: relative;
}

div::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff5722;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 10%;
    z-index: -1;
}

div::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #03a9f4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -10%;
    z-index: -1;
}