div {
    width: 400px;
    background-color: brown;
    color: white;
    margin: 5px 0;
    padding: 10px;
    width: fit-content;
}

.four {
    height: 40px;
    /* If u want to show the overflow content apply this code  */
    overflow: hidden;
}