a {
    color: white;
    background-color: #009688;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 3px solid #00514a;
    font-weight: bold;
}