div {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138, 43, 226);
    background-color: #8a2be2;
    background-color: hsl(271, 76%, 53%);
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.assign-1-shape-2 {
    opacity: 0.5;
}

.assign-1-shape-3 {
    opacity: 0.1;
}