* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    perspective: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 0.5s 0s linear;
    -webkit-transition: transform 0.5s 0s linear;
    -moz-transition: transform 0.5s 0s linear;
    -ms-transition: transform 0.5s 0s linear;
    -o-transition: transform 0.5s 0s linear;
}

div::after,
div::before {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

div::before {
    content: "Front";
    background-color: #ea2264;

}

div::after {
    content: "Back";
    background-color: #1692fc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

div:hover {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}