.input-box {
    padding: 15px 10px;
    background-color: #eee;
    width: fit-content;
    margin: 100px auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.prefix {
    background-color: #009688;
    color: white;
    padding: 5px;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border: 1px solid #dddddd;
}


input[type="tel"]::placeholder {
    color: #797575;
}

input[type="tel"] {
    border: 1px solid #dddddd;
    margin-left: -1px;
    border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -ms-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
    outline: none;
    caret-color: #009688;
}